# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Build folders
frontend/dist/
frontend/build/
backend/dist/

# Logs
*.log

# VS Code
.vscode/
*.csv
# OS files
.DS_Store
Thumbs.db
# Added by ggshield
.cache_ggshield
backend/.env
.env